*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1.0rem;
    font-family: 'Karla', sans-serif;
    color: white;
}
body{
    background-color:  hsl(204, 43%, 93%);

}
:root{
    --greenish:hsl(71, 73%, 54%);   
    --lightgrey:hsl(204, 43%, 93%);
    --cyan :hsl(179, 62%, 43%);
    --greyishblue:hsl(218, 22%, 67%);
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.card{
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header{
    width: 100%;
    height: 50%;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 40px;
}

.header h1{
    font-size: 22px;
    color: var(--cyan);
    padding-bottom:30px ;
}
.header h4{
    color: var(--greenish);
    padding-bottom:15px ;
}
.header p{
    color:gainsboro;
}
.card_footer{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;   
}
.left{
    width: 50%;
    height: 100%;
    padding: 40px;
    line-height: 2.4rem;
    background-color: var(--cyan);
    border-bottom-left-radius: 5px;
}
.left span {
    color: rgba(192, 189, 189, 0.726);
}

.dollar{
    font-weight: 700;
    font-size: 26px;
}
.link{
    display: inline-block;
    text-decoration: none;
    /*padding: 5px 80px;*/
    width: 180px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow:  2 6px 20px 2 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: var(--greenish);
}
.right{
    width: 50%;
    height:auto;
    background-color: hsla(179, 62%, 43%, 0.705);
    border-bottom-right-radius: 5px;
    padding: 40px;
}

.right p{
    padding-top: 10px;
    color: rgba(230, 222, 222, 0.884);
}


@media only screen and (max-width: 900px){
    .main{
        padding:20px;
    }
    .card{
        max-width: 80%;
        width: 80%;
        height: auto;
        margin:auto;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction:column ;
    }
    .header{
        width: 100%;
        height: auto;
    }
    .card_footer{
        display: flex;
        flex-direction:column;  
        width: 100%;
        height: auto;
    }
    .right{
       width: 100%;
       border-bottom-left-radius: 5px;
    }
    .left{
        border-bottom-left-radius:0px;
         width: 100%;
    }
  
}